{% extends 'real_base.html' %}
{% load static %}

{% block title  %}Biology | Tutorial Videos{% endblock title %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

	 {% block body %}
   <div class="intro intro-single route bg-image" style="background-image: url({% static 'images/black5.png' %})">
    <div class="overlay-mf"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
             <h2 class="intro-title mb-4">Tutorial Videos</h2>
            <ol class="breadcrumb d-flex justify-content-center">
               <li class="breadcrumb-item">
                <a href="/index2">Home</a>
               </li>
               <li class="breadcrumb-item">
                <a href="/b_course">Biology</a>
              </li>
              <li class="breadcrumb-item active">Tutorial Videos</li>
            </ol>
        </div>
      </div>
    </div>
   </div>


     <section id="work" class="portfolio-mf sect-pt4 route">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  
                </h3>
                <p class="subtitle-a">
                  
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          <div class="row">
            
            
            


            <div class="col-md-4">
                <div class="work-box">
                  <a href="" data-lightbox="gallery-mf">
                    <div class="work-img">
                      
                    </div>
                    <div class="work-content">
                      <div class="row">
                        <div class="col-sm-8">
                          
                          <div class="w-more">
                            
                            <h5><li><a href="#cell" >Cell Structure and Functions</a></li></h5>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="w-like">
                            <span class=""></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>

              <div class="col-md-4">
                <div class="work-box">
                  <a href="" data-lightbox="gallery-mf">
                    <div class="work-img">
                      
                    </div>
                    <div class="work-content">
                      <div class="row">
                        <div class="col-sm-8">
                          
                          <div class="w-more">
                            
                            <h5><li><a href="#class" >Classification of Living Things</a></li></h5>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="w-like">
                            <span class=""></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>

              <div class="col-md-4">
                <div class="work-box">
                  <a href="" data-lightbox="gallery-mf">
                    <div class="work-img">
                      
                    </div>
                    <div class="work-content">
                      <div class="row">
                        <div class="col-sm-8">
                          
                          <div class="w-more">
                            
                            <h5><li><a href="#eco" >Ecology</a></li></h5>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="w-like">
                            <span class=""></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>

              <div class="col-md-4">
                <div class="work-box">
                  <a href="" data-lightbox="gallery-mf">
                    <div class="work-img">
                      
                    </div>
                    <div class="work-content">
                      <div class="row">
                        <div class="col-sm-8">
                          
                          <div class="w-more">
                            
                            <h5><li><a href="#here" >Heredity</a></li></h5>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="w-like">
                            <span class=""></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div> 

              <div class="col-md-4">
                <div class="work-box">
                  <a href="" data-lightbox="gallery-mf">
                    <div class="work-img">
                      
                    </div>
                    <div class="work-content">
                      <div class="row">
                        <div class="col-sm-8">
                          
                          <div class="w-more">
                            
                            <h5><li><a href="#prop" >Properties of Life</a></li></h5>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="w-like">
                            <span class=""></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>

              <div class="col-md-4">
                <div class="work-box">
                  <a href="" data-lightbox="gallery-mf">
                    <div class="work-img">
                      
                    </div>
                    <div class="work-content">
                      <div class="row">
                        <div class="col-sm-8">
                          
                          <div class="w-more">
                            
                            <h5><li><a href="#rep" >Reproduction</a></li></h5>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="w-like">
                            <span class=""></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>

              <div class="col-md-4">
                <div class="work-box">
                  <a href="" data-lightbox="gallery-mf">
                    <div class="work-img">
                      
                    </div>
                    <div class="work-content">
                      <div class="row">
                        <div class="col-sm-8">
                          
                          <div class="w-more">
                            
                            <h5><li><a href="#uni" >Unifying Themes in Biology</a></li></h5>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="w-like">
                            <span class=""></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
            
            
              </div>





              
            </div>
          </div>
        </div>
      </section>
      
      <section id="cell" class="portfolio-mf sect-pt4 route">

        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  
                </h3>
                <p class="subtitle-a">
                  
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
            
         <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
          <div class="row">
            
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/URUJD5NEXC8?start=18" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
           <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/vwAJ8ByQH2U?start=17" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>

              
        
        
      </section>



      <section id="class" class="portfolio-mf sect-pt4 route">

        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  
                </h3>
                <p class="subtitle-a">
                  
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>


          
          <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
          <div class="row">
            
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/z8znhBuIwr4" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
           <br>
           <iframe width="560" height="315" src="https://www.youtube.com/embed/vqxomJIBGcY" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>

              
        
        
      </section>


      <section id="eco" class="portfolio-mf sect-pt4 route">

        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  
                </h3>
                <p class="subtitle-a">
                  
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
                  
          <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
          <div class="row">
            
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/_NEIq-uoBb8" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
          
            <iframe width="560" height="315" src="https://www.youtube.com/embed/PQ-CQ3CQE3g" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/V49IovRSJDs" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/pOp-qLLTMso" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KFViSog6ZJw" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/z31y-ZtegZ8" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/c6pcRR5Uy6w" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Bn41lXKyVWQ" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/rXlyYFXyfIM" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8976iKm3fYI" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/fgBozLCGUHY" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/RBOsqmBQBQk" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>

              
        
        
      </section>


      <section id="here" class="portfolio-mf sect-pt4 route">

        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  
                </h3>
                <p class="subtitle-a">
                  
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
           
          <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
          <div class="row">
            
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/B7VMXUk6TEg" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/mUr_ezQv1sY" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
          
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ni5jyO0g1_w" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/mcEV3m9SG9M" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/eEUvRrhmcxM" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/f-ldPgEfAHI" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/jjEcHra3484" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>

              
        
        
      </section>

      <section id="prop" class="portfolio-mf sect-pt4 route">

        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  
                </h3>
                <p class="subtitle-a">
                  
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>

             
         <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
          <div class="row">
            
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/X5_3BFJFbRE" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
          
            <iframe width="560" height="315" src="https://www.youtube.com/embed/cQPVXrV0GNA" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>

              
        
        
      </section>

      <section id="rep" class="portfolio-mf sect-pt4 route">

        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  
                </h3>
                <p class="subtitle-a">
                  
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
           
         <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
          <div class="row">
            
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/g59s153t_6Q" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>

          
            <iframe width="560" height="315" src="https://www.youtube.com/embed/q25gB6uTnUA" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/TucxiIB76bo" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/4h4tdQxgWP0" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>

              
        
        
      </section>

      <section id="uni" class="portfolio-mf sect-pt4 route">

        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  
                </h3>
                <p class="subtitle-a">
                  
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          
         <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
          <div class="row">
            
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/C6NypdWOiX4?start=21" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>

              
        
        
      </section>
         



            
     <footer>
       <div class="container">
         <div class="row">
           <div class="col-sm-12">
             <div class="copyright-box">
                <p class="copyright"> ALL MATERIALS on this page are gotten from YouTube and online research materials , gathered by our Research Team. In no way do we claim ownership of this video materials,  </p>THEY ARE FREE CONTENTS.
               <div class="credits">
                
                  Designed by <a href="">Black Code</a>
               </div>
             </div>
           </div>
         </div>
       </div>
     </footer>
  
    
        
      

     {% endblock body %}