{% extends 'real_base.html' %}
{% load static %}

{% block title  %}Mathematics | Tutorial Videos{% endblock title %}
{% load static %}
<!DOCTYPE html>
<html lang="en">





	 {% block body %}
   <div class="intro intro-single route bg-image" style="background-image: url({% static 'images/black5.png' %})">
    <div class="overlay-mf"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
             <h2 class="intro-title mb-4">Tutorial Videos</h2>
            <ol class="breadcrumb d-flex justify-content-center">
               <li class="breadcrumb-item">
                <a href="/index2">Home</a>
               </li>
               <li class="breadcrumb-item">
                <a href="/math_course">Mathematics</a>
              </li>
              <li class="breadcrumb-item active">Tutorial Videos</li>
            </ol>
        </div>
      </div>
    </div>
   </div>


     <section id="work" class="portfolio-mf sect-pt4 route">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  
                </h3>
                <p class="subtitle-a">
                  
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          <div class="row">
            
            
            


            <div class="col-md-4">
                <div class="work-box">
                  <a href="" data-lightbox="gallery-mf">
                    <div class="work-img">
                      
                    </div>
                    <div class="work-content">
                      <div class="row">
                        <div class="col-sm-8">
                          
                          <div class="w-more">
                            
                            <h5><li><a href="#induction" >Principle of Mathematical Induction</a></li></h5>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="w-like">
                            <span class=""></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>

              <div class="col-md-4">
                <div class="work-box">
                  <a href="" data-lightbox="gallery-mf">
                    <div class="work-img">
                      
                    </div>
                    <div class="work-content">
                      <div class="row">
                        <div class="col-sm-8">
                          
                          <div class="w-more">
                            
                            <h5><li><a href="#set" >Set</a></li></h5>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="w-like">
                            <span class=""></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>

              <div class="col-md-4">
                <div class="work-box">
                  <a href="" data-lightbox="gallery-mf">
                    <div class="work-img">
                      
                    </div>
                    <div class="work-content">
                      <div class="row">
                        <div class="col-sm-8">
                          
                          <div class="w-more">
                            
                            <h5><li><a href="#series" >Sequences and Series</a></li></h5>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="w-like">
                            <span class=""></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>

              <div class="col-md-4">
                <div class="work-box">
                  <a href="" data-lightbox="gallery-mf">
                    <div class="work-img">
                      
                    </div>
                    <div class="work-content">
                      <div class="row">
                        <div class="col-sm-8">
                          
                          <div class="w-more">
                            
                            <h5><li><a href="#partial" >Partial Fraction</a></li></h5>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="w-like">
                            <span class=""></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div> 

              <div class="col-md-4">
                <div class="work-box">
                  <a href="" data-lightbox="gallery-mf">
                    <div class="work-img">
                      
                    </div>
                    <div class="work-content">
                      <div class="row">
                        <div class="col-sm-8">
                          
                          <div class="w-more">
                            
                            <h5><li><a href="#real" >Real Functions</a></li></h5>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="w-like">
                            <span class=""></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>

              <div class="col-md-4">
                <div class="work-box">
                  <a href="" data-lightbox="gallery-mf">
                    <div class="work-img">
                      
                    </div>
                    <div class="work-content">
                      <div class="row">
                        <div class="col-sm-8">
                          
                          <div class="w-more">
                            
                            <h5><li><a href="#limit" >Limits and Continuity</a></li></h5>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="w-like">
                            <span class=""></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>

              <div class="col-md-4">
                <div class="work-box">
                  <a href="" data-lightbox="gallery-mf">
                    <div class="work-img">
                      
                    </div>
                    <div class="work-content">
                      <div class="row">
                        <div class="col-sm-8">
                          
                          <div class="w-more">
                            
                            <h5><li><a href="#hospital" >L'hospital's Rule</a></li></h5>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="w-like">
                            <span class=""></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
            
                <div class="col-md-4">
                  <div class="work-box">
                    <a href="" data-lightbox="gallery-mf">
                      <div class="work-img">
                        
                      </div>
                      <div class="work-content">
                        <div class="row">
                          <div class="col-sm-8">
                            
                            <div class="w-more">
                              
                              <h5><li><a href="#increment" >Increments</a></li></h5>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="w-like">
                              <span class=""></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
              
              
                </div>

                <div class="col-md-4">
                  <div class="work-box">
                    <a href="" data-lightbox="gallery-mf">
                      <div class="work-img">
                        
                      </div>
                      <div class="work-content">
                        <div class="row">
                          <div class="col-sm-8">
                            
                            <div class="w-more">
                              
                              <h5><li><a href="#derivative" >Derivatives</a></li></h5>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="w-like">
                              <span class=""></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
              
              
                </div>

                <div class="col-md-4">
                  <div class="work-box">
                    <a href="" data-lightbox="gallery-mf">
                      <div class="work-img">
                        
                      </div>
                      <div class="work-content">
                        <div class="row">
                          <div class="col-sm-8">
                            
                            <div class="w-more">
                              
                              <h5><li><a href="#rolle" >Rolle's Theorem</a></li></h5>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="w-like">
                              <span class=""></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
              
              
                </div>

                <div class="col-md-4">
                  <div class="work-box">
                    <a href="" data-lightbox="gallery-mf">
                      <div class="work-img">
                        
                      </div>
                      <div class="work-content">
                        <div class="row">
                          <div class="col-sm-8">
                            
                            <div class="w-more">
                              
                              <h5><li><a href="#mvt" >Mean Value Theorem</a></li></h5>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="w-like">
                              <span class=""></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
              
              
                </div>



                <div class="col-md-4">
                  <div class="work-box">
                    <a href="" data-lightbox="gallery-mf">
                      <div class="work-img">
                        
                      </div>
                      <div class="work-content">
                        <div class="row">
                          <div class="col-sm-8">
                            
                            <div class="w-more">
                              
                              <h5><li><a href="#taylor" >Taylor's Series</a></li></h5>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="w-like">
                              <span class=""></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
              
              
                </div>
                <div class="col-md-4">
                  <div class="work-box">
                    <a href="" data-lightbox="gallery-mf">
                      <div class="work-img">
                        
                      </div>
                      <div class="work-content">
                        <div class="row">
                          <div class="col-sm-8">
                            
                            <div class="w-more">
                              
                              <h5><li><a href="#mac" >Maclurin's Theorem</a></li></h5>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="w-like">
                              <span class=""></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
              
              
                </div>
                <div class="col-md-4">
                  <div class="work-box">
                    <a href="" data-lightbox="gallery-mf">
                      <div class="work-img">
                        
                      </div>
                      <div class="work-content">
                        <div class="row">
                          <div class="col-sm-8">
                            
                            <div class="w-more">
                              
                              <h5><li><a href="#pd" >Partial Derivatives</a></li></h5>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="w-like">
                              <span class=""></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
              
              
                </div>
                <div class="col-md-4">
                  <div class="work-box">
                    <a href="" data-lightbox="gallery-mf">
                      <div class="work-img">
                        
                      </div>
                      <div class="work-content">
                        <div class="row">
                          <div class="col-sm-8">
                            
                            <div class="w-more">
                              
                              <h5><li><a href="#hpd" >Higher Partial Derivatives</a></li></h5>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="w-like">
                              <span class=""></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
              
              
                </div>
              
          
  

            
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <section id="induction" class="portfolio-mf sect-pt4 route">

        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  
                </h3>
                <p class="subtitle-a">
                  
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
          <div class="row">
            
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/tHNVX3e9zd0" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
          
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8J7Bft3BN0g" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/5JGjELKJYD0" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/CU0qbjxgHKs" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>

              
        
        
      </section>



      <section id="set" class="portfolio-mf sect-pt4 route">

        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  
                </h3>
                <p class="subtitle-a">
                  
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
          <div class="row">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/l3-A0O42Lyo" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/xZELQc11ACY" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
          
            <iframe width="560" height="315" src="https://www.youtube.com/embed/5ZhNmKb-dqk" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/qOJ9C82RnPY" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YX34Xh0Dra8" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/_W8WiqcXypM" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

          </div>
        </div>

              
        
        
      </section>


      <section id="series" class="portfolio-mf sect-pt4 route">

        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  
                </h3>
                <p class="subtitle-a">
                  
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
          <div class="row">
            
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/XZJdyPkCxuE" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
          
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zRKZ0-kOUZM" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Tj89FA-d0f8" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          

          </div>
        </div>

              
        
        
      </section>


      <section id="partial" class="portfolio-mf sect-pt4 route">

        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  
                </h3>
                <p class="subtitle-a">
                  
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
          <div class="row">
            
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/QKkdYW77xNI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
          
            <iframe width="560" height="315" src="https://www.youtube.com/embed/oouQ8u9G9BU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2bMndF92Oqo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

          </div>
        </div>

              
        
        
      </section>

      <section id="real" class="portfolio-mf sect-pt4 route">

        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  
                </h3>
                <p class="subtitle-a">
                  
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
          <div class="row">
            
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/lGfsp2CWjok" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

          </div>
        </div>

              
        
        
      </section>

      <section id="limit" class="portfolio-mf sect-pt4 route">

        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  
                </h3>
                <p class="subtitle-a">
                  
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
          <div class="row">
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/riXcZT2ICjA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YNstP0ESndU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
          
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9brk313DjV8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zLozwNf5r-8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/joewRl1CTL8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/W4y1ydC9IK0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/3j3439F_yIY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/NVQBZWTKygU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/WT7oxiiFYt8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/3KMqU5j7irw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

          </div>
        </div>

              
        
        
      </section>

      <section id="hospital" class="portfolio-mf sect-pt4 route">

        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  
                </h3>
                <p class="subtitle-a">
                  
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
          <div class="row">
            
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Gh48aOvWcxw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/PdSzruR5OeE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          
          </div>
        </div>

              
        
        
      </section>
         


      <section id="increment" class="portfolio-mf sect-pt4 route">

        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  
                </h3>
                <p class="subtitle-a">
                  
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
          <div class="row">
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/mBNWkrLXIf0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            

          </div>
        </div>

              
        
        
      </section>

      <section id="derivative" class="portfolio-mf sect-pt4 route">

        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  
                </h3>
                <p class="subtitle-a">
                  
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
          <div class="row">
            
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/rfrphUqC6h4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/N2PpRnFqnqY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-aTLjoDT1GQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/gCHiLLgO55o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>

              
        
        
      </section>

      <section id="rolle" class="portfolio-mf sect-pt4 route">

        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  
                </h3>
                <p class="subtitle-a">
                  
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
          <div class="row">
            
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/LHym1ARc2cE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0jiVRRKmGoE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/M2b2ok-jto4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>

          </div>
        </div>

              
        
        
      </section>

      <section id="mvt" class="portfolio-mf sect-pt4 route">

        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  
                </h3>
                <p class="subtitle-a">
                  
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
          <div class="row">
            
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/SL2RobwU_M4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6hri9k_2R8o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/e7lU2J2xa78" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0E9_wyEI1Gc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0E9_wyEI1Gc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

          </div>

        </div>

              
        
        
      </section>
      <section id="taylor" class="portfolio-mf sect-pt4 route">

        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  
                </h3>
                <p class="subtitle-a">
                  
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
          <div class="row">
            
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/DULzJmUHN5g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/LDBnS4c7YbA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/kZf6phY418U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>

              
        
        
      </section>



      <section id="mac" class="portfolio-mf sect-pt4 route">

        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  
                </h3>
                <p class="subtitle-a">
                  
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
          <div class="row">
            
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/PFglidQnf8k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/LDBnS4c7YbA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            

          </div>
        </div>

              
        
        
      </section>


      <section id="pd" class="portfolio-mf sect-pt4 route">

        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  
                </h3>
                <p class="subtitle-a">
                  
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
          <div class="row">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/CSb3O-FXcA8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
       
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/AXqhWeUEtQU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JAf_aSIJryg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          
        </div>

              
        
        
      </section>

      <section id="hpd" class="portfolio-mf sect-pt4 route">

        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  
                </h3>
                <p class="subtitle-a">
                  
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
          <div class="row">
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/AWrXr9ozeOU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KdVBfxGxUhU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>

              
        
        
      </section>


     <footer>
       <div class="container">
         <div class="row">
           <div class="col-sm-12">
             <div class="copyright-box">
                <p class="copyright"> ALL MATERIALS on this page are gotten from YouTube and online research materials , gathered by our Research Team. In no way do we claim ownership of this video materials,  </p>THEY ARE FREE CONTENTS.
               <div class="credits">
                
                  Designed by <a href="">Black Code</a>
               </div>
             </div>
           </div>
         </div>
       </div>
     </footer>
  
    
        
      

     {% endblock body %}