{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    

    <!-- Website Title -->
    <title>Terms Conditions</title>
    
	
	<!-- Favicon  -->
    <link rel="icon" href="{% static 'images/black.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/terms.css' %}">
   
    
</head>

<body>
    <!--
    <h3>Terms of Use</h3><p>Welcome to Black Code. Our mission is to improve lives and empower people with different kind of technical skills. We allow anyone from anywhere to create, share and access educational content. You may not access or use the services or create an account for unlawful purposes. We do not hire or employ instructors nor are we responsible or liable for any interactions involved between instructors and students. When you use our websites, or services, you will find links to other websites that we don't own or control. We are not responsible for the content or other aspect of these third-party sites, including their collection of information about you. Some information and content on Black Code are gotten from free educational materials gatthered by our research team. In no way do we claim ownership of this kind of materials.  </p>

    <!-- Terms Content -->
  <!--  <div class="ex-basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <h3>Limitations Of Liability</h3>
                        <p>Black Code also automatically collects and receives certain information from your computer or mobile device, including the activities you perform on our Website, the Platforms, the type of hardware and software you are using (for example, your operating system or browser), and information obtained from cookies. For example, each time you visit the Website or otherwise use the Services, we automatically collect your IP address, browser and device type, access times, the regions from which you navigate the web page, and the web page(s) you access (as applicable).</p>
                        <p>When you first register for a Black Code account, and when you use the Services, we collect some Personal Information about you such as:</p>
                        <ul class="list-unstyled li-space-lg indent">
                            
                                
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Your Username and email address </div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">A unique Black Code user ID which is assigned to you upon registration and session</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Other optional information as part of your account profile are not required and you should not mention them. We are not responsible for any missues of data you might have provide that was not required.</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Your IP Address</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Other information submitted by you via various methods is not taken into consideration</div>
                            </li>
                        </ul>
                    </div> <!-- end of text-container -->
                    
                   <!-- <div class="text-container">
                        <h3>Terms And Conditions</h3>
                        <p>Under no circumstances shall Black Code be liable for any direct, indirect, special, incidental or consequential damages, including, but not limited to, loss of data or profit, arising out of the use, or the inability to use, the materials on this site, even if Black Code or an authorized representative has been advised of the possibility of such damages. If your use of materials from this site results in the need for servicing, repair or correction of equipment or data, you assume any costs thereof should only be provided by the user of the application.</p>
                    </div> <!-- end of text-container -->

                   <!-- <h3>Payments and Donations</h3> 
                    
                        <li class="media">
                        <i class="fas fa-square"></i>Payments of Certificate and Donations
                    <p>
                        Despites being a free e-learning website, Black Code sometimes requires application users to pay some certain fees for certifications for particular courses. This fee along with donations, is what we use to maintain our site. If you agree to pay the fees for the certificates or make donations, you authorize us to charge your debit card or process other means of payment. Black Code works with payment service providers to offer you the most convenient payment methods in your country to keep your payment information secure. When you make a purchase or a donation, you agree not to use an invalid or unauthorised payment method. If your payment method fails and you still get access to the certificate you pay for, you agree to pay us the corresponding fees within thirty days of notification from us.

                    </p>-->


                </body>
                </html>