{% extends 'real_base.html' %}
{% load static %}

{% block title  %}Chemistry{% endblock title %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	 {% block body %}
   <div class="intro intro-single route bg-image" style="background-image: url({% static 'images/black5.png' %})">
    <div class="overlay-mf"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
             <h2 class="intro-title mb-4">Tutorial Videos</h2>
            <ol class="breadcrumb d-flex justify-content-center">
               <li class="breadcrumb-item">
                <a href="/index2">Home</a>
               </li>
               <li class="breadcrumb-item">
                <a href="/ch_course">Chemistry</a>
              </li>
              <li class="breadcrumb-item active">Tutorial Videos</li>
            </ol>
        </div>
      </div>
    </div>
   </div>


   <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              
            </h3>
            <p class="subtitle-a">
              
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        
        
        


        <div class="col-md-4">
            <div class="work-box">
              <a href="" data-lightbox="gallery-mf">
                <div class="work-img">
                  
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      
                      <div class="w-more">
                        
                        <h5><li><a href="#atoms" >Atoms, Molecules and Chemical Reaction</a></li></h5>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class=""></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="work-box">
              <a href="" data-lightbox="gallery-mf">
                <div class="work-img">
                  
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      
                      <div class="w-more">
                        
                        <h5><li><a href="#chemical" >Chemical Equation and Stoichiometry</a></li></h5>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class=""></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="work-box">
              <a href="" data-lightbox="gallery-mf">
                <div class="work-img">
                  
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      
                      <div class="w-more">
                        
                        <h5><li><a href="#modern" >Modern Electronic Theory of Atom </a></li></h5>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class=""></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="work-box">
              <a href="" data-lightbox="gallery-mf">
                <div class="work-img">
                  
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      
                      <div class="w-more">
                        
                        <h5><li><a href="#elementary" >Elementary Properties of Gases </a></li></h5>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class=""></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div> 

          <div class="col-md-4">
            <div class="work-box">
              <a href="" data-lightbox="gallery-mf">
                <div class="work-img">
                  
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      
                      <div class="w-more">
                        
                        <h5><li><a href="#equi" >Equilibria</a></li></h5>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class=""></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="work-box">
              <a href="" data-lightbox="gallery-mf">
                <div class="work-img">
                  
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      
                      <div class="w-more">
                        
                        <h5><li><a href="#energy" >Energetic</a></li></h5>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class=""></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="work-box">
              <a href="" data-lightbox="gallery-mf">
                <div class="work-img">
                  
                </div>
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      
                      <div class="w-more">
                        
                        <h5><li><a href="#et" >Elementary Thermochemistry</a></li></h5>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <span class=""></span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
        

            <div class="col-md-4">
              <div class="work-box">
                <a href="" data-lightbox="gallery-mf">
                  <div class="work-img">
                    
                  </div>
                  <div class="work-content">
                    <div class="row">
                      <div class="col-sm-8">
                        
                        <div class="w-more">
                          
                          <h5><li><a href="#ck" >Chemical Kinetics</a></li></h5>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="w-like">
                          <span class=""></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>


            <div class="col-md-4">
              <div class="work-box">
                <a href="" data-lightbox="gallery-mf">
                  <div class="work-img">
                    
                  </div>
                  <div class="work-content">
                    <div class="row">
                      <div class="col-sm-8">
                        
                        <div class="w-more">
                          
                          <h5><li><a href="#iec" >Introduction to Electrochemistry</a></li></h5>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="w-like">
                          <span class=""></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>


            <div class="col-md-4">
              <div class="work-box">
                <a href="" data-lightbox="gallery-mf">
                  <div class="work-img">
                    
                  </div>
                  <div class="work-content">
                    <div class="row">
                      <div class="col-sm-8">
                        
                        <div class="w-more">
                          
                          <h5><li><a href="#abs" >Acids, Base and Salts</a></li></h5>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="w-like">
                          <span class=""></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>


            <div class="col-md-4">
              <div class="work-box">
                <a href="" data-lightbox="gallery-mf">
                  <div class="work-img">
                    
                  </div>
                  <div class="work-content">
                    <div class="row">
                      <div class="col-sm-8">
                        
                        <div class="w-more">
                          
                          <h5><li><a href="#rr" >Redox Reaction</a></li></h5>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="w-like">
                          <span class=""></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
        
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section id="atoms" class="portfolio-mf sect-pt4 route">

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              
            </h3>
            <p class="subtitle-a">
              
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
      <div class="row">

        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/-KfG8kH-r3Y" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
       <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/DkAXO--BYEw?start=15" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
       <br>
       <iframe width="560" height="315" src="https://www.youtube.com/embed/KSfgSw2WKfU" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
       <br>
       <iframe width="560" height="315" src="https://www.youtube.com/embed/pSJeMJaCkVU" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
       <br>
       <iframe width="560" height="315" src="https://www.youtube.com/embed/R2uiBYVb1aw" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>

          
    
    
  </section>



  <section id="chemical" class="portfolio-mf sect-pt4 route">

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              
            </h3>
            <p class="subtitle-a">
              
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
      
      <div class="row">
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7Cfq0ilw7ps" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dBE75vnSLok" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      
       
      </div>
    </div>

          
    
    
  </section>


  <section id="modern" class="portfolio-mf sect-pt4 route">

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              
            </h3>
            <p class="subtitle-a">
              
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
      <div class="row">
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rbmPpgASUAY" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
       <br>
       <iframe width="560" height="315" src="https://www.youtube.com/embed/v48u8hjqNBU" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      
       <br>

       <iframe width="560" height="315" src="https://www.youtube.com/embed/qV9EifmdBRg" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

      </div>
    </div>

          
    
    
  </section>


  <section id="elementary" class="portfolio-mf sect-pt4 route">

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              
            </h3>
            <p class="subtitle-a">
              
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
      <div class="row">
        
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3dbqD6W4z4U" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <br>
      
        <iframe width="560" height="315" src="https://www.youtube.com/embed/MrTxRn9MNWM" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/X9-6jN_pQJk?start=5" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BY9VGS2eXas?start=12" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <br>


      </div>
    </div>

          
    
    
  </section>

  <section id="equi" class="portfolio-mf sect-pt4 route">

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              
            </h3>
            <p class="subtitle-a">
              
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>

      <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
      <div class="row">
        
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1GiZzCzmO5Q" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/g5wNg_dKsYY" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <br>
      
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ttOEZPqCPlE" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dUMmoPdwBy4" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/XBpTiquq0XU" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

      </div>
    </div>

          
    
    
  </section>

  <section id="energy" class="portfolio-mf sect-pt4 route">

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              
            </h3>
            <p class="subtitle-a">
              
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      
      <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
      <div class="row">

        
        
        
      <iframe width="560" height="315" src="https://www.youtube.com/embed/GD4INHJLPPk" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <br>
      
      <iframe width="560" height="315" src="https://www.youtube.com/embed/okb4P6nrNBg" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <br>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/eJXL0IrbtqE" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    </div>

          
    
    
  </section>

  <section id="et" class="portfolio-mf sect-pt4 route">

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              
            </h3>
            <p class="subtitle-a">
              
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      
      <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
      <div class="row">
        
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ZVhJ4TO8a-M" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        <br>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/LsqKL3pBVMA" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>      </div>
    </div>

          
    
    
  </section>


  <section id="ck" class="portfolio-mf sect-pt4 route">

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              
            </h3>
            <p class="subtitle-a">
              
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      
      <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
      <div class="row">
        
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BqNDbU41JMU" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <br>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/7I0Xg92_eA4" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
       <br>
       <iframe width="560" height="315" src="https://www.youtube.com/embed/oh4L2gcI5ds" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

       <br>
       <iframe width="560" height="315" src="https://www.youtube.com/embed/1jlgr9SpID8" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>

          
    
    
  </section>

  <section id="iec" class="portfolio-mf sect-pt4 route">

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              
            </h3>
            <p class="subtitle-a">
              
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
      <div class="row">
        
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3xDz4s-rlz4" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        <br>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/S9frctwDyL0" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
       <br>

       <iframe width="560" height="315" src="https://www.youtube.com/embed/ImV8LyujjqY" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

       <br>
       <iframe width="560" height="315" src="https://www.youtube.com/embed/9blB-uMTIAM" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
       <br>
       <iframe width="560" height="315" src="https://www.youtube.com/embed/NRHhytTu28M" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

      </div>
    </div>

          
    
    
  </section>

  <section id="abs" class="portfolio-mf sect-pt4 route">

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              
            </h3>
            <p class="subtitle-a">
              
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>

      <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
      <div class="row">
        
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/jGOKug-dA0g" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>      
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uhuc4WQvP80" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
       <br>
       <iframe width="560" height="315" src="https://www.youtube.com/embed/FM2MpMbV0rw" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


       <br>
       <iframe width="560" height="315" src="https://www.youtube.com/embed/WnAKhtnJjz0" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

      </div>
    </div>

          
    
    
  </section>



  <section id="rr" class="portfolio-mf sect-pt4 route">

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              
            </h3>
            <p class="subtitle-a">
              
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>

      <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
      <div class="row">
        
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dF5lB7gRtcA" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        
        <br>
        
       
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5rtJdjas-mY" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/lQ6FBA1HM3s" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/6gtcvqLmPo8" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/YWl4KHsUxuw" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

      </div>
    </div>

          
    
    
  </section>


  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright-box">
             <p class="copyright"> ALL MATERIALS on this page are gotten from YouTube and online research materials , gathered by our Research Team. In no way do we claim ownership of this video materials,  </p>THEY ARE FREE CONTENTS.
            <div class="credits">
             
               Designed by <a href="/">Black Code</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
     

     {% endblock body %}