{% extends 'real_base.html' %}
{% load static %}

{% block title  %}English{% endblock title %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	 {% block body %}
   <div class="intro intro-single route bg-image" style="background-image: url({% static 'images/black5.png' %})">
    <div class="overlay-mf"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
             <h2 class="intro-title mb-4">Tutorial Videos</h2>
            <ol class="breadcrumb d-flex justify-content-center">
               <li class="breadcrumb-item">
                <a href="/index2">Home</a>
               </li>
               <li class="breadcrumb-item">
                <a href="/en_course">English</a>
              </li>
              <li class="breadcrumb-item active">Tutorial Videos</li>
            </ol>
        </div>
      </div>
    </div>
   </div>


     <section id="work" class="portfolio-mf sect-pt4 route">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  
                </h3>
                <p class="subtitle-a">
                  
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          <div class="row">
            
            
            


            <div class="col-md-4">
                <div class="work-box">
                  <a href="" data-lightbox="gallery-mf">
                    <div class="work-img">
                      
                    </div>
                    <div class="work-content">
                      <div class="row">
                        <div class="col-sm-8">
                          
                          <div class="w-more">
                            
                            <h5><li><a href="#wc" >World Class</a></li></h5>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="w-like">
                            <span class=""></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>

              <div class="col-md-4">
                <div class="work-box">
                  <a href="" data-lightbox="gallery-mf">
                    <div class="work-img">
                      
                    </div>
                    <div class="work-content">
                      <div class="row">
                        <div class="col-sm-8">
                          
                          <div class="w-more">
                            
                            <h5><li><a href="#art" >Articles</a></li></h5>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="w-like">
                            <span class=""></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>

              <div class="col-md-4">
                <div class="work-box">
                  <a href="" data-lightbox="gallery-mf">
                    <div class="work-img">
                      
                    </div>
                    <div class="work-content">
                      <div class="row">
                        <div class="col-sm-8">
                          
                          <div class="w-more">
                            
                            <h5><li><a href="#tense" >Tense</a></li></h5>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="w-like">
                            <span class=""></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>

              <div class="col-md-4">
                <div class="work-box">
                  <a href="" data-lightbox="gallery-mf">
                    <div class="work-img">
                      
                    </div>
                    <div class="work-content">
                      <div class="row">
                        <div class="col-sm-8">
                          
                          <div class="w-more">
                            
                            <h5><li><a href="#asp" >Aspect</a></li></h5>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="w-like">
                            <span class=""></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>





   <section id="wc" class="portfolio-mf sect-pt4 route">

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              
            </h3>
            <p class="subtitle-a">
              
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
      <div class="row">

        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/yarSte4yRvM" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <br>
       
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0l69KEx7GQo" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
       
      </div>
    </div>

          
    
    
  </section>



  <section id="art" class="portfolio-mf sect-pt4 route">

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              
            </h3>
            <p class="subtitle-a">
              
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
      
      <div class="row">
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/cvwhip4dw3Y" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
     <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uU-RbEEolw0" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      
       
      </div>
    </div>

          
    
    
  </section>


  <section id="tense" class="portfolio-mf sect-pt4 route">

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              
            </h3>
            <p class="subtitle-a">
              
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
      <div class="row">
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ck2H9D5DS5U?start=8" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
       <br>
       <iframe width="560" height="315" src="https://www.youtube.com/embed/Ljjiw9mC_Cg?start=8" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
       <br>

      
      </div>
    </div>

          
    
    
  </section>


  <section id="asp" class="portfolio-mf sect-pt4 route">

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              
            </h3>
            <p class="subtitle-a">
              
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
      <div class="row">
        
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dN2J95gRU4g?start=8" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
       <br>
      
       <iframe width="560" height="315" src="https://www.youtube.com/embed/8eH1yib9Gms?start=8" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
       <br>
       <iframe width="560" height="315" src="https://www.youtube.com/embed/-PhyqbvnoCg?start=8" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/858npSa0rgc?start=8" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>        <br>


      </div>
    </div>

          
    
    
  </section>



     {% endblock body %}