{% extends 'real_base.html' %}
{% load static %}

{% block title  %}Library | Tutorial Videos {% endblock title %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

	{% block body %}

    <div class="intro intro-single route bg-image" style="background-image: url({% static 'images/black5.png' %})">
     <div class="overlay-mf"></div>
       <div class="intro-content display-table">
         <div class="table-cell">
           <div class="container">
              <h2 class="intro-title mb-4">Tutorial Videos</h2>
             <ol class="breadcrumb d-flex justify-content-center">
                <li class="breadcrumb-item">
                 <a href="/index2">Home</a>
                </li>
                <li class="breadcrumb-item">
                 <a href="/li_course">Library</a>
               </li>
               <li class="breadcrumb-item active">Tutorial Videos</li>
             </ol>
         </div>
       </div>
     </div>
   </div>

      <section id="Library" class="portfolio-mf sect-pt4 route">

        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  
                </h3>
                <p class="subtitle-a">
                  
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
          
         <h2><marquee>Please wait for the Videos to load ........</marquee></h2>
          <div class="row">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/bcER73ndsS0?start=9" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
           <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/mGXx72rSdBs?start=179" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/br5Rb0b40po" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           <br> 
           <iframe width="560" height="315" src="https://www.youtube.com/embed/Ly_AeHl4t5M?start=21" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
           
           <br>
           <iframe width="560" height="315" src="https://www.youtube.com/embed/aqO1u-FYCaE?start=6" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
           <br>
          
           <iframe width="560" height="315" src="https://www.youtube.com/embed/6sylTfkjydE" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
           <br>
           <iframe width="560" height="315" src="https://www.youtube.com/embed/l4ZsqcnRf5Q?start=14" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>


        </div>

              
        
        
      </section>







      <section class="paralax-mf footer-paralax bg-image sect-mt4 route">   
     <footer>
       <div class="container">
         <div class="row">
           <div class="col-sm-12">
             <div class="copyright-box">
                <p class="copyright"> ALL MATERIALS on this page are gotten from YouTube and online research materials , gathered by our Research Team. In no way do we claim ownership of this video materials,  </p>THEY ARE FREE CONTENTS.
               <div class="credits">
                
                  Designed by <a href="">Black Code</a>
               </div>
             </div>
           </div>
         </div>
       </div>
     </footer>
  
    
        
      

  {% endblock body %}
 <!--<iframe  src="https://www.youtube.com/embed/br5Rb0b40po" title="YouTube video player" frameborder="100" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              
 -->        
          
    
 
   
  
  
   
     

